{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:import/errors", "plugin:import/warnings"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "indent": "off",
    "@typescript-eslint/indent": 0,
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": 1,
    "@typescript-eslint/no-inferrable-types": [
      "warn", {
        "ignoreParameters": true
      }
    ],
    "@typescript-eslint/no-unused-vars": "error",
    "prefer-destructuring":"error",
    "object-curly-spacing": ["error", "always"],
    "no-console": "error",
    "object-shorthand": ["error", "always"],
    "import/no-unresolved": 0,
    "import/first": 0,
    "import/prefer-default-export": 0,
    "no-underscore-dangle": 0,
    "import/order": [
      "error",
      { 
        "alphabetize": {
          "order": "asc", /* sort in ascending order. Options: ['ignore', 'asc', 'desc'] */
          "caseInsensitive": true /* ignore case. Options: [true, false] */
        },
        "groups": ["index", "sibling", "parent", "internal", "external", "builtin", "object"],
        "newlines-between": "always"
      }
    ],
    "no-shadow": 2
  }
}
